<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%- include('./partials/head') %>
</head>
<body>

    <%- include('./partials/header') %>

    <main>
        
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-12 col-md-9 col-lg-7">
                    <h2><%= product.name %></h2>
                    <div class="row product_container">
                        <div class="col-12 col-md-7">
                            <img src="/img_products/<%= product.image %>" alt="Imagen del producto" class="img_detail">
                            <p><%= product.description %></p>
                        </div>
                        <div class="col-12 col-md-5 product_detail">
                                <div class="product_info">
                                    <h2><%= product.name %></h2>
                                    <p>CATEGORÍA: <%= product.category %></p>
                                    <span>$ <%= product.price %> / </span><b><%= product.discount %> %</b>
                                    <p>Stock: <%= product.stock %>K</p>
                                </div>
                                       
                                <div class="opciones">
                                    <div class="btn-group">
                                        <a class="btn btn-primary btn_editar" href="#" role="button">Editar</a>
                                        <!-- <a class="btn btn-danger btn_eliminar" href="#" role="button">Eliminar</a> -->
                                        
                                        <form action="/products/<%= product.id %>?_method=DELETE" method="POST">
                                            <button type="submit" class="btn btn-danger btn_eliminar">ELIMINAR</button>
                                        </form>

                                    </div>
                                    <hr>
                                    <a class="btn btn-primary btn_agregar" href="#" role="button">Agregar al carrito</a>

                                </div>
                                
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </main>

    <%- include('./partials/footer') %>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>